.hamburger {
  display: flex;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 120px 70% 0 0;
  gap: 20px;
  background-color: #ffffffe6;
  height: calc(100vh - 120px);
  transform: translateX(-100%);
  transition: 0.9s;
  z-index: 4;
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px;
  min-width: 300px;
  margin: 0;
}

.no-results {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showMenu {
  transform: translateX(0);
}
.ham-label {
  color: gray;
}
.shop-category {
  flex: 1;
}

/* HamburgerMenu.css */

/* Style for the form container */
.FormContainer {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  padding: 20px;
}

/* Style for the form elements */
ul .inputField,
.FormContainer input,
.FormContainer button {
  padding: 10px;
  margin: 5px;
  border: none;
  background: transparent;
  outline: none;
  border-radius: unset;
}

ul .inputField,
.FormContainer input {
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  display: block;
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  background: transparent;
  outline: none;
}

.FormContainer button {
  cursor: pointer;
}

.loginSignupButtons {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
  cursor: pointer;
}

.toggleButtonContainer button {
  margin: 0 5px;
}

/* Style for the link */
.FormContainer a {
  text-decoration: none;
}

.FormContainer a:hover {
  text-decoration: underline;
}

.account {
  margin-top: auto;
  position: relative;
  bottom: 15px;
}

.account a button {
  background: transparent;
  color: gray;
  outline: none;
  border: none;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 120px 0 0 0; /* Adjust inset to start after the navbar */
    gap: 20px;
    height: calc(100vh - 120px);
    transform: translateX(-100%);
    transition: 0.9s;
    z-index: 4;
    list-style: none;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 300px;
  }

  .showMenu {
    transform: translateX(0);
  }
  .hamburger-menu li ul {
    padding: 0;
    list-style: none;
  }

  .hamburger-menu li ul li {
    padding: 5px 5px;
  }

  .hamburger-menu li ul li a {
    text-decoration: none;
    padding: 5px 15px;
    display: block;
  }
}

.account {
  margin-top: 20px;
}

.account .details {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.account .details .account-heading {
  font-weight: bold;
}

.account .user-details {
  margin-top: 10px;
}
