.hamburger {
  display: flex;
}

.hamburger-menu {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0 0 0 80%;
  gap: 30px;
  background-color: #01111ab5;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
  height: 100vh;
  transform: translateX(100%);
  transition: 0.9s;
  z-index: 4;
  list-style: none;
  padding-left: 0;
}

.hamburger-menu li.active a {
  font-weight: bold;
  color: #ff6347;
}

.showMenu {
  transform: translateX(0);
}

.Hamburger {
  cursor: pointer;
  display: block;
  position: fixed;
  right: 15px;
  top: 16px;
  z-index: 6;
}

.nav-icon {
  color: white;
  gap: 10px;
  margin: auto 10px;
}

.ham {
  display: block;
  background-color: #e7e7e7;
  border-radius: 50px;
  height: 2.5px;
  width: 30px;
  margin: 6px;
  transition: 0.7s;
}
.first {
  rotate: -225deg;
  position: relative;
  top: 4px;
  transition: 0.9s;
}
.second {
  display: none;
}
.Third {
  position: relative;
  bottom: 4px;
  rotate: 225deg;
  transition: 0.9s;
}

.shop-category {
  flex: 1;
}

.nav_login_cart button .icon {
  vertical-align: middle;
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .hamburger-menu {
    inset: 0 0 0 60%;
  }

  .showMenu {
    transform: translateX(0);
  }
}

@media (max-width: 800px) {
  .hamburger-menu {
    inset: 0 80% 0 0;
    height: 100vh;
    transform: translateX(-100%);
    width: 50%;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
  }

  .showMenu {
    transform: translateX(0);
  }

  .Hamburger {
    z-index: 7;
    left: 10px;
    width: fit-content;
  }
  .hamburger-menu li ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .hamburger-menu li ul li {
    padding: 5px 0;
    color: antiquewhite;
    font-size: 14px; /* Example font size */
  }

  .hamburger-menu li ul li a {
    color: antiquewhite;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
  }

  .hamburger-menu li ul li.active a {
    font-weight: bold;
    color: #ff6347;
  }
}

.nav_login_cart button {
  cursor: pointer;
  width: 92px;
  border: unset;
  border-radius: 50px;
  color: #fa0000;
  z-index: 1;
  background: transparent;
  position: relative;
  font-weight: 700;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.nav_login_cart button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.nav_login_cart button:hover {
  color: #e8e8e8;
}

.nav_login_cart button:hover::before {
  width: 100%;
}
