.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

.shopcategory-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  display: flex;
  align-items: center;
  gap: 5px;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-products {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #02050f;
}

.pagination button:disabled {
  cursor: not-allowed;
  color: gray;
}

.custom-dropdown .p-dropdown-label {
  font-family: "Poppins";
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin: auto auto 2px 10px;
}

.custom-dropdown .p-dropdown-trigger {
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.p-dropdown.p-component.p-inputwrapper {
  border-radius: 30px;
  border: 2px solid black;
}

.p-dropdown-items {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
}

@media (max-width: 1280px) {
  .shopcategory-banner {
    margin: 20px auto;
    width: 90%;
  }

  .shopcategory-indexSort {
    width: 90%;
    margin: auto;
  }

  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }

  .shopcategory-indexSort p {
    font-size: 12px;
  }

  .shopcategory-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }

  .shopcategory-products .item {
    margin: auto;
  }

  .shopcategory-loadmore {
    margin: 100px auto;
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }

  .shopcategory-products {
    width: 95%;
    margin: 10px auto;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    /* Adjust this value */
  }

  .shopcategory-loadmore {
    margin: 60px auto;
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .shopcategory-products {
    grid-template-columns: 1fr;
  }

  .custom-dropdown .p-dropdown-label {
    display: none;
  }

  .p-dropdown.p-component.p-inputwrapper {
    border-radius: 50px;
    border: 2px solid black;
  }

  .p-dropdown-items {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    padding: 0px;
  }
}
