.item {
  position: relative; /* Add relative positioning */
  width: 340px;
  border-radius: 10px;
  overflow: hidden !important;
  margin: 2rem auto;
}

.item-image {
  border-radius: 10px;
}

.div-image {
  height: 350px;
  background-color: #2e32405f;
}

.item-info {
  margin-top: 10px;
  display: grid;
  grid-template-rows: auto auto; /* Define two rows */
  grid-template-columns: auto auto;
  width: 100%;
}

.item-title {
  margin-bottom: 5px;
  grid-row: 1; /* Place item-title in the first row */
}

.item-prices {
  display: flex;
  gap: 5px;
  align-items: end;
  grid-row: 2; /* Place item-prices in the second row */
}

.add-to-cart-button {
  background: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s;
}
.add-to-cart-button:hover {
  opacity: 0.6;
}
ul .slick-dots .slick-thumb {
  display: flex !important;
}
/* Custom styling for slick dots */
.slick-dots {
  position: absolute;
  bottom: 50px; /* Adjust as needed */
  width: 100%;
  list-style: none;
  display: flex !important;
  right: 15px;
  justify-content: space-evenly;
}

.slick-dots img {
  width: 55px; /* Make thumbnail images fill their container */
  height: 60px; /* Maintain aspect ratio */
  object-fit: cover;
  border: 2px solid transparent; /* Add border to make dots visible */
  border-radius: 5px; /* Optional: Add border radius for rounded dots */
}

.slick-dots .slick-active img {
  border-color: #fff; /* Style for active dot */
}

@media (max-width: 1280px) {
  .item {
    width: 300px;
    max-height: 600px;
  }

  .item-image {
    border-radius: 10px;
    height: 500px;
  }
  .div-image {
    height: 290px;
    background-color: #2e32405f;
  }
}

@media (max-width: 1024px) {
  .item {
    width: 290px;
    max-height: 600px;
    overflow-y: scroll;
  }

  .item-image {
    border-radius: 10px;
  }
  .div-image {
    height: 240px;
    background-color: #2e32405f;
  }
}

@media (max-width: 800px) {
  .item {
    width: 320px;
    max-height: 600px;
    overflow-y: scroll;
  }

  .item-image {
    border-radius: 10px;
  }
}

@media (max-width: 600px) {
  .item {
    width: 350px;
    max-height: 600px;
  }

  .item-image {
    border-radius: 10px;
    height: 400px;
  }

  .div-image {
    height: 270px;
    background-color: #2e32405f;
  }
}
