.item {
  width: 400px;
  min-height: 600px; /* Minimum height */
  max-height: none;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  margin: 5rem;
}

.item-image {
  border-radius: 10px 10px 0 0;
}

.div-image {
  height: 400px;
  background-color: #2e32405f;
}

.item-info {
  background-color: rgba(21, 47, 69, 0.55); /* Semi-transparent color */
  backdrop-filter: blur(30px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(30px); /* For Safari */
  padding: 20px;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-category {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.item-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.item-prices {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.add-to-cart-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}
ul .slick-dots .slick-thumb {
  display: flex !important;
}
/* Custom styling for slick dots */
.slick-dots {
  position: absolute;
  bottom: 50px; /* Adjust as needed */
  width: 100%;
  list-style: none;
  display: flex !important;
  right: 15px;
  justify-content: space-evenly;
}

.slick-dots img {
  width: 55px; /* Make thumbnail images fill their container */
  height: auto; /* Maintain aspect ratio */
  border: 2px solid transparent; /* Add border to make dots visible */
  border-radius: 5px; /* Optional: Add border radius for rounded dots */
}

.slick-dots .slick-active img {
  border-color: #fff; /* Style for active dot */
}

@media (max-width: 1280px) {
  .item {
    width: 220px;
    font-size: 14px;
  }

  .item img {
    width: 220px;
  }

  .item-price-new,
  .item-price-old {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .item {
    width: 170px;
    font-size: 13px;
  }

  .item img {
    width: 170px;
  }

  .item-price-new,
  .item-price-old {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .item {
    font-size: 12px;
  }

  .item img {
    width: 120;
  }

  .item-price-new,
  .item-price-old {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .item {
    width: 160px;
  }

  .item img {
    width: 160px;
  }
}
