.item {
  width: 280px;
  transition: transform 0.7s, box-shadow 0.7s;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}

.item p {
  margin: 10px 0;
  text-align: center;
}

.item-prices {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  background-color: #f4f4f4;
}

.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 700;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 600;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.02);
  transition: 0.7s;
  box-shadow: 0 5px 5px #4c765a;
  cursor: pointer;
}

.item:hover img {
  opacity: 0.8;
  transition: opacity 0.7s;
}

@media (min-width: 1280px) {
  .item {
    width: 300px;
    margin: auto 10px;
  }
}

@media (max-width: 1280px) {
  .item {
    width: 220px;
    font-size: 14px;
  }

  .item img {
    width: 100%;
  }

  .item-prices {
    padding: 8px;
  }

  .item-price-new,
  .item-price-old {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .item {
    width: 170px;
    font-size: 13px;
  }

  .item img {
    width: 100%;
  }

  .item-prices {
    padding: 6px;
  }

  .item-price-new,
  .item-price-old {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .item {
    width: 120px;
    font-size: 12px;
  }

  .item img {
    width: 100%;
  }

  .item-prices {
    padding: 4px;
  }

  .item-price-new,
  .item-price-old {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .item {
    width: 160px;
  }

  .item img {
    width: 100%;
  }

  .item-prices {
    padding: 4px;
  }
}