.nav-center {
  text-align: center;
  color: #faf2f2;
  font-size: 20px;
  font-weight: 700;
  border: none !important;
  text-decoration: none;
}

.nav-center a {
  color: #faf2f2;
  text-decoration: none;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}

.nav-search,
.nav-login-cart {
  cursor: pointer;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #000000;
  background-color: white;
}

.nav-login-cart a {
  text-decoration: none;
}

.navbar p {
  margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  justify-content: space-around;
  box-shadow: 0 1px 3px -2px black;
  align-items: center;
  height: 75px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 10px 20px;
  height: 100px; /* Set navbar height */
}

.navbar > .nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .nav-menu {
    gap: 25px;
    font-size: 16px;
  }
}
