.navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  align-items: center;
  background-color: #01111a8d;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo svg {
  font-size: 40px;
}

.nav-logo p {
  color: #faf2f2;
  font-size: 38px;
  font-weight: 700;
  border: none !important;
  text-decoration: none;
}

.nav-logo svg {
  color: #faf2f2;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #ff0000;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

ul li:hover {
  font-weight: 600;
  color: #faf2f2;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #faf2f2;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart svg {
  font-size: 40px;
  color: #faf2f2;
}

.nav-login-cart button {
  cursor: pointer;
  width: 120px;
  padding: 10px 25px;
  border: unset;
  border-radius: 50px;
  color: #fa0000;
  z-index: 1;
  background: transparent;
  position: relative;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.nav-login-cart button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.nav-login-cart button:hover {
  color: #e8e8e8;
}

.nav-login-cart button:hover::before {
  width: 100%;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -50px;
  border-radius: 100%;
  font-size: 14px;
  padding: auto;
  color: #ff0000;
  font-weight: 700;
}

.nav-login-cart .cart-icon {
  cursor: pointer;
}

Link {
  text-decoration: none;
}

.drop-down {
  display: none;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (max-width: 1280px) {
  .navbar {
    padding: 12px 50px;
  }

  .nav-logo svg {
    font-size: 27px;
  }

  .nav-logo p {
    font-size: 27px;
  }

  .nav-menu {
    gap: 30px;
    font-size: 16px;
  }

  .nav-login-cart {
    gap: 30px;
  }

  .nav-login-cart button {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }

  .nav-login-cart svg {
    font-size: 35px;
  }

  .nav-cart-count {
    margin-left: -35px;
    width: 14px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 12px 30px;
  }

  .nav-menu {
    gap: 25px;
    font-size: 16px;
  }

  .nav-login-cart button {
    width: 80px;
    height: 35px;
    font-size: 16px;
  }

  .nav-login-cart svg {
    font-size: 30px;
  }

  .nav-cart-count {
    margin-left: -33px;
    width: 12px;
    font-size: 14px;
  }

  .nav-login-cart button {
    padding: 0px 10px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 10px 0px;
  }

  .drop-down {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.visible {
    display: none;
    opacity: 1;
  }

  .nav-login-cart {
    margin-left: auto;
  }

  .nav-logo {
    position: absolute;
  }

  .drop-down.open {
    transform: rotate(90deg);
  }

  .nav-login-cart button {
    display: none;
  }

  .nav-menu.visible {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 8px 0px;
    gap: 0;
  }

  .nav-logo {
    transform: scale(0.8);
  }

  .nav-menu {
    height: 70px;
    top: 50px;
  }

  .nav-login-cart {
    transform: scale(0.8);
  }
}
