.productdisplay {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-gap: 20px; /* Gap between the columns */
  color: white;
  width: 90%;
  margin: auto;
}

.productdisplay-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for images */
  grid-template-rows: repeat(2, 1fr); /* Two rows for images */
  grid-gap: 10px; /* Gap between images */
  width: 100%;
  height: 100%;
}

.productdisplay-images img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.productdisplay-details {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10px;
}

.productdisplay-details h1 {
  margin-bottom: 10px;
}

.productdisplay-stars {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.productdisplay-stars p {
  margin-left: 5px;
}

.productdisplay-prices {
  margin-bottom: 10px;
}

.productdisplay-description {
  margin-bottom: 20px;
}

.productdisplay-size {
  margin-bottom: 20px;
}

.productdisplay-size h2 {
  margin-bottom: 10px;
}

.productdisplay-sizes {
  display: flex;
  flex-wrap: wrap;
}

.productdisplay-sizes div {
  margin-right: 10px;
  margin-bottom: 10px;
}

.productdisplay-category,
.productdisplay-tags {
  margin-bottom: 10px;
}

.productdisplay-category span,
.productdisplay-tags span {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-to-cart {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(255, 0, 0);
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Poppins;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .productdisplay {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}

@media screen and (max-width: 800px) {
  .productdisplay-images {
    /* grid-template-columns: 1fr;
    grid-template-rows: auto;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .productdisplay-details {
    font-size: 14px; /* Adjust font size for details on smaller screens */
  }

  .productdisplay-images img {
    width: 351px;
    height: 351px;
    object-fit: cover;
  }
}
