.productdisplay {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-gap: 20px; /* Gap between the columns */
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.item-image {
  border-radius: 10px;
}

.div-image {
  height: 400px;
  background-color: #2e32405f;
}
ul .slick-dots .slick-thumb {
  display: flex !important;
}
/* Custom styling for slick dots */
.slick-dots {
  position: absolute;
  bottom: 50px; /* Adjust as needed */
  width: 100%;
  list-style: none;
  display: flex !important;
  right: 15px;
  justify-content: space-evenly;
}

.slick-dots img {
  width: 55px; /* Make thumbnail images fill their container */
  height: auto; /* Maintain aspect ratio */
  border: 2px solid transparent; /* Add border to make dots visible */
  border-radius: 5px; /* Optional: Add border radius for rounded dots */
}

.slick-dots .slick-active img {
  border-color: #fff; /* Style for active dot */
}

.productdisplay-images img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.productdisplay-details {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10px;
}

.productdisplay-details h1 {
  margin-bottom: 10px;
}

.productdisplay-stars {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.productdisplay-stars p {
  margin-left: 5px;
}

.productdisplay-prices {
  margin-bottom: 10px;
}

.productdisplay-description {
  margin-bottom: 20px;
}

.productdisplay-size {
  margin-bottom: 20px;
}

.productdisplay-size h2 {
  margin-bottom: 10px;
}

.productdisplay-sizes {
  display: flex;
  flex-wrap: wrap;
}

.productdisplay-sizes div {
  margin-right: 10px;
  margin-bottom: 10px;
}

.productdisplay-category,
.productdisplay-tags {
  margin-bottom: 10px;
}

.productdisplay-category span,
.productdisplay-tags span {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-to-cart {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(255, 0, 0);
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Poppins;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .productdisplay {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}

@media screen and (max-width: 800px) {
  .productdisplay-images {
    /* grid-template-columns: 1fr;
    grid-template-rows: auto;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .productdisplay-details {
    font-size: 14px; /* Adjust font size for details on smaller screens */
  }

  .productdisplay-images img {
    width: 351px;
    height: 351px;
    object-fit: cover;
  }
}
